<h1 class="title">Você conhece o jeito certo de higienizar as mãos?</h1>
<div class="image">
    <img class="image__hand__pc" src="../../../../assets/images/hand_wash.jpg">
    <div class="image__hand__m">
      <img src="../../../../assets/images/hw_01.jpg" alt="">
      <img src="../../../../assets/images/hw_02.jpg" alt="">
      <img src="../../../../assets/images/hw_03.jpg" alt="">
      <img src="../../../../assets/images/hw_04.jpg" alt="">
      <img src="../../../../assets/images/hw_05.jpg" alt="">

    </div>
</div>
<app-wide-button style="display: flex; justify-content: center;"
    routerLink="/user/panel" [title]="'Voltar'" [height]="40" class="return-btn"></app-wide-button>



