
<div class="container">
  <div class="container__grid">
    <div>
      <h1 class="container__title">Olá, {{userName}}</h1>
      <h2 class="container__subtitle">Acompanhe seu progresso diário aqui</h2>
    </div>

    <div class="container_grid__top__header">
      <h1 class="container__title_top">TOP 3</h1>
      <h2 class="container__subtitle">Os 3 colaboradores com a maior pontuação</h2>
    </div>

    <!-- PROGRESS BAR CHART -->
    <div>
      <div>
        <div class="chartjs" style="display: block;">
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [style.height.px]="height">
          </canvas>
        </div>
      </div>
    </div>
    <!------------------------------->

    <div class="container__grid__top">
      <div class="container__grid__top__card">
        <div *ngFor="let user of topList" class="container__grid__top__card__name">
          <p>{{ user.name }} {{ user.lastName }} - {{ user.score }} Pontos</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buttons">
  <app-wide-button (click)="goToPage('/user/alert')" [title]="'Consulte os Alertas'" [height]="70"></app-wide-button>
  <app-wide-button (click)="goToPage('/user/hand-wash')" [title]="'Higienização das mãos'" [height]="70"></app-wide-button>
  <app-wide-button (click)="goToPage('/user/colaborator')" [title]="'Área do colaborador'" [height]="70"></app-wide-button>
</div>
