<div class="container">
  <h1 class="title">Painel de Alertas</h1>
  <div class="grid">
    <div class="content">
      <h1 class="container__title">Lorem Ipsum</h1>
      <h2 class="container__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aliquam nam soluta expedita hic corrupti atque veritatis odio odit quae rem reiciendis dolorem culpa, quisquam perspiciatis quos dignissimos officia! Magni?</h2>
    </div>
    <div class="content">
      <h1 class="container__title">Lorem Ipsum</h1>
      <h2 class="container__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aliquam nam soluta expedita hic corrupti atque veritatis odio odit quae rem reiciendis dolorem culpa, quisquam perspiciatis quos dignissimos officia! Magni?</h2>
    </div>
    <div class="content">
      <h1 class="container__title">Lorem Ipsum</h1>
      <h2 class="container__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aliquam nam soluta expedita hic corrupti atque veritatis odio odit quae rem reiciendis dolorem culpa, quisquam perspiciatis quos dignissimos officia! Magni?</h2>
    </div>
    <div class="content">
      <h1 class="container__title">Lorem Ipsum</h1>
      <h2 class="container__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aliquam nam soluta expedita hic corrupti atque veritatis odio odit quae rem reiciendis dolorem culpa, quisquam perspiciatis quos dignissimos officia! Magni?</h2>
    </div>
    <div class="content">
      <h1 class="container__title">Lorem Ipsum</h1>
      <h2 class="container__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aliquam nam soluta expedita hic corrupti atque veritatis odio odit quae rem reiciendis dolorem culpa, quisquam perspiciatis quos dignissimos officia! Magni?</h2>
    </div>
  </div>
  <div class="return-btn">
    <app-wide-button style="display: flex; justify-content: center;"
    routerLink="/user/panel" [title]="'Voltar'" [height]="40" [width]=150></app-wide-button>
  </div>
</div>
